@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Roboto:wght@100;400;900&display=swap');

body {
  background: #222;
  color: #fff;
  font-family: 'Poppins';
}

.g {
  background: rgb(0, 187, 0);
  color: white;
}

.y {
  background: #ffff00;
  color: black;
}

.b {
  background: #333;
  color: white;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Poppins';
}

.header {
  display: flex;
  padding-top: 1.5rem;
  gap: 1rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.header svg {
  font-size: 1.5rem;
}

.header .guess-input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.guess-input input {
  padding: 0.5rem;
  border-radius: 1rem 0px 0px 1rem;
  border: 0;
  border-right: 1px solid #888;
  font-size: 1rem;
  padding-left: 1rem;
  width: 12rem;
  outline: none;
  font-family: 'Poppins';
}

.guess-input button {
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 0.5rem;
  border: 0;
  background: #ccc;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 1rem;
  padding-inline: 2rem;
  font-family: 'Poppins';
}

.btn {
  padding-block: 0.8rem;
  border-radius: 0.5rem;
  padding-inline: 2rem;
  border: 0;
  background: #333;
  color: white;
  font-family: 'Poppins';
  cursor: pointer;
}

.btn:hover {
  background: #111;
}

.btn:focus {
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.1);
}

.error {
  color: red;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  border: 1px solid #333;
  font-size: 2rem;
}

.gameBoard {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.15rem;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
